
         @font-face {
            font-family: 'Digital-7';
            src: url('digital-7.ttf');
        }
        body{
            font-family: 'Digital-7', sans-serif;
        }

        
        #container{ 
            background-color: aqua;
            display: flex;
        }
        #datahora{ 
            margin-left: 100px;
            margin-top: 20px;
            display: inline-table;
            align-content: center;
            width: 60px;
            height: 40px;
            background-color: black;
            border-radius: 8px;
            border-style: dotted;
            border-color: brown;
        }
        
        #data{
            float: left;
            width: 40%;
            background-color: blueviolet;
            color: #fff;
            
        }
        #hora{
            float: right;
            width: 40%;
            background-color: blue;
            color: #fff;
        }
        
        #display {
            background-color: aqua;
            width: 300px;
            height: 40px;
            margin-top: 30px;
            text-align: right;
            padding: 5px;
            font-size: 40px;
            
        }
        
        #teclado{
            display: flexbox;
            background-color: #ccc;
            width: 300px;
            height: 400px;
            margin-top: 30px;
            text-align: right;
            padding: 5px;
            font-size: 40px;
        }
        
        .btn, .button-0, .button-1, .button-2,
        .button-3, .button-4, .button-5,
        .button-6, .button-7, .button-8,
        .button-9, .button-10, .button-11,
        .button-12, .button-13, .button-14,
        .button-15, .button-16, .button-17,
        .button-18, .button-19{
            margin: 3px;
            text-align: center;
            width: 23%;
            height: 15%;
            background-color: chocolate;
            border-radius: 8px;
            font-size: 20px;
            box-shadow: #ccc;
            
        } 
        .btnn {
            color: #fff;
            margin: 3px;
            text-align: center;
            width: 31%;
            height: 15%;
            background-color: rgb(95, 46, 11);
            border-radius: 8px;
            font-size: 20px;
            box-shadow: #ccc;
            
        } 
        .btnnn {
            color: #fff;
            margin: 3px;
            text-align: center;
            width: 15px;
            margin-left: 10px;
            margin-right: 20px;
            height: 15px;
            background-color: rgb(11, 95, 29);
            border-radius: 8px;
            font-size: 20px;
            box-shadow: #ccc;
            
        } 
        .buttonn{
            width: 28%;
            height: 15%;
            background-color: chocolate;
            border-radius: 8px;
        }